*{
    margin:0;
    padding:0;
}
.orange-bg{
    background-color: #fecae8;
}
.carousel-item{
    padding: 20px 40px;
}
.container{
    padding: 10px 20px;
}
#carouselExampleControls{
    padding-bottom: 20px;

}
#login-area{
    margin: 50px;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 5px 5px 10px gray;
}